{{#partial "content" }}
<div class="float-right">
	<form method="post" action="/refresh">
		<input class="btn btn-primary" type="submit" value="Refresh All">
	</form>
</div>
<h2>Devices</h2>
<div class="row">
	{{#each devices}}
	<div class="col-lg-6 pb-1">
		<div class="card">
			<div class="card-header">
				<div class="float-right"> 
					<form method="post" action="/refresh">
						<input type="hidden" name="name" value="{{this.name}}">
						{{#if this.settings}}
							{{#if this.ipAddress}}
								{{#if this.duration}}
									<span class="badge badge-success">Connected for {{this.duration}}</span>
								{{else}}
									<span class="badge badge-warning">Disconnected</span>
								{{/if}}
							{{else}}
								<span class="badge badge-danger">Not Found</span>
							{{/if}}
						{{else}}
							<span class="badge badge-secondary">Not Configured</span>
						{{/if}}
						<input class="btn btn-primary btn-sm" type="submit" value="Refresh"{{#unless this.duration}} disabled{{/unless}}>
					</form>
				</div>
				<h5 class="mb-0">
					{{this.name}}
				</h5>
			</div>
			<div class="card-body">
				<p><strong>IP Address:</strong> {{#if this.ipAddress}}{{this.ipAddress}}{{else}}not found{{/if}}</p>
				{{#if this.settings}}
					<p><strong>Settings:</strong></p>
					<code class="settings">{{this.settings}}</code>
				{{/if}}
			</div>
		</div>
	</div>
	{{else}}
	<div class="col-md-12"><div class="card"><div class="card-body">No devices configured or discovered!</div></div></div>
	{{/each}}
</div>
{{/partial}}

{{> main}}